* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Сафари */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;

	a {
		text-decoration: none;
	}
	color: var(--tg-theme-text-color);
}

.header {
	.menu {
		display: inline-flex;
		height: 40px;
		align-items: center;
		padding: 4px 16px;
		grid-gap: 8px;
		position: relative;
		// overflow: hidden;

		.inner {
			display: inline-flex;
			height: 100%;
			align-items: center;
			grid-template-rows: 1fr;
			grid-gap: 8px;

			.cat_item {
				display: flex;
				justify-content: center;
				align-items: center;

				input[type="checkbox"] {
					opacity: 0;
					position: absolute;
				}
				label {
					background: gray;
					color: #fff;
					padding: 4px 8px;
					border-radius: 8px;
				}

				input[type="checkbox"]:checked + label {
					background: green;
				}
			}

			// 	.item {
			// 		border: 1px solid green;
			// 		display: grid;
			// 		height: 100%;

			// 		.checkbox {
			// 			background: blue;
			// 			padding: 4px 8px;
			// 			border-radius: 8px;
			// 		}
			// 		input[type="checkbox"] {
			// 			opacity: 1;
			// 			// position: absolute;
			// 		}
			// 	}
		}
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	padding: 32px;
	grid-gap: 16px;

	.item {
		padding: 8px;
		align-self: center;
		justify-self: center;
		display: grid;
		justify-content: center;
		align-items: center;
		grid-gap: 10px;
		box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.25);
		border-radius: 16px;

		img {
			display: block;
			align-self: center;
			justify-self: center;
			height: 56px;
			width: 56px;
		}
		h2 {
			font-weight: bold;
			font-size: 20px;
		}
		.btn {
			border: none;
			padding: 10px 20px;
			border-radius: 8px;
			font-weight: bold;
			background: var(--tg-theme-button-color);
			color: var(--tg-theme-button-text-color);
		}
	}
}

// var(--tg-theme-bg-color)
// var(--tg-theme-text-color)
// var(--tg-theme-hint-color)
// var(--tg-theme-link-color)
// var(--tg-theme-button-color)
// var(--tg-theme-button-text-color)
